[Unit]
Description=SentinelRoot Heuristic Monitor

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/share/sentinelroot/sentinel.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

